<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>innerHTML</title>
    <link rel="stylesheet" href="/server/public/stylesheet/output.css" />
    <link rel="stylesheet" href="/server/public/stylesheet/test.css" />
  </head>
  <body>
    <section class="main">
      <div class="hero">
        <div class="images">
          <img id="laptop" src="../public/images/bg-laptop.png" alt="" />
          <img id="cup" src="../public/images/cup.png" alt="" />
          <img id="pen" src="../public/images/pen.png" alt="" />
          <img id="pot" src="../public/images/pot.png" alt="" />
        </div>
        <div class="title">
          <div class="title-head">
            <h2 class="text-4xl">Bright your future</h2>
            <span class="text-3xl">with</span>
            <h1>online learning</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem,
              magnam. Quas facilis suscipit quidem, cumque perspiciatis est
              sapiente nemo temporibus nesciunt, numquam adipisci ratione vitae
              quis fugiat ipsum error tempore!
            </p>
          </div>
          <div class="button-container">
            <a href="#" class="button button-float">Explore</a>
          </div>
        </div>
      </div>
    </section>

    <!-- <section class="text-gray-600 body-font bg-image ">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center relative -top-full">
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded" alt="hero" src="../public/images/hero7.png">
          </div>
          <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left  items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Before they sold out
              <br class="hidden lg:inline-block">readymade gluten
            </h1>
            <p class="mb-8 leading-relaxed w-80">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
            <div class="flex justify-center text-center w-1/2">
              <button class="inline-flex text-white  bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
        </div>
          </div>
        </div>
      </section> -->
     <main class="domain">
      <div class="domain-head">
        <h3>choose the domain</h3>
      </div>
      <div class="card_grid">
        
         </div>
     </main>

     <section>
      <ul>
    
        <li class="course-card">
            <a 
                href="#" 
                class="featured-image" 
                style="background-image:url('https://res.cloudinary.com/dgu7vsmfd/image/upload/v1544375649/NGA_Screenshot_510x365.jpg')">
            </a>
            <article class="card-body">
                <header>
                    <a href="utilidata-national-governors-association-meeting">
                        <span class="pre-heading">Blog</span>
                        <div class="title">
                            <h3>Test this responsively to see the horizontal magik</h3>
                        </div>
                        <p class="meta">
                            <span class="author">Utilidata</span>
                            <span> | </span>
                            <time class="updated" datetime="" itemprop="datePublished">July 27, 2017</time>
                        </p>
                    </a>
                </header>
                <div class="chips">
                    <a class="chip">Government</a>
                    <a class="chip">Test</a>
                    <a class="chip">Utilidata</a>
                </div>
            </article>
        </li>
            
        </ul>
      
     </section>
  </body>
</html>
