<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Login Form</title>
   <link rel="stylesheet" href="stylesheet/signup.css">
</head>
<body>

         <!-- FORMULAIRE DE CONNEXION -->
   <div class="container">
    <div class="card" style="height: 80vh;">
        <h2>Login Form</h2>

            <!-- SE CONNECTER / S'INSCRIRE -->
        <div class="login_register">
            <a href="" class="login" target="blank">Login</a>
            <a href="signup" class="register" target="blank">Signup</a>
        </div>

            <!-- FORMULAIRE -->
        <form class="form">
            <input type="email" placeholder="Email Adress" class="email">
            <input type="password" placeholder="password" class="pass">
        </form>

            <!-- MOT DE PASSE OUBLIE ? -->
        <!-- <a href="#" class="fp">Forgot password?</a> -->

            <!-- BOUTTON LOGIN -->
            <button type="button" class="login_btn">Login</button>

            <!-- PIED DE LA CARD -->
        <div class="footer_card">
        <p>Not a member?</p>
        <a href="/signup">Singup now</a>
        </div>
    </div>
   </div>
        
</body>
</html>