<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Form</title>
    <link rel="stylesheet" href="stylesheet/signup.css">
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h2>Signup Form</h2>

        <div class="login_register">
          <a href="/" class="login" target="blank">Login</a>
          <a href="#" class="register" target="blank">Signup</a>
        </div>
  
        <form class="form" method="post">
          <input  type="text" name="username" placeholder="Username"  />
          <input  type="text" name="fullname" placeholder="Full name"  />
          <input  type="email" name="email" placeholder="Email Address"  />
          <input type="password" placeholder="password" name="pass" />
          <input type="password" placeholder="Confirm Password" name="confirm_pass"/>
  
          <label> Role:</label>
          <select name="role" id="">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
          </select>
          <button type="submit" value="submit" class="login_btn">Singup</button>
        </form>
      </div>
    </div>
  </body>
</html>
