/* https://coolors.co/47e0ff-3b96a8-258194-379cb0-16a7c4 */

:root{
    --color1:#22223b;
    --color2:#4a4e69;
    --color3:#9a8c98;
    --color4:#c9ada7;
    --color5:#f2e9e4;
}
/* :root{
    --color1:#533747;
    --color2:#5f506b;
    --color3:#6a6b83;
    --color4:#76949f;
    --color5:#F3F3F3;
} */
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 90%;
    /* margin: auto; */
}

.navbar{
    /* box-shadow: 0px 5px 10px 0px #aaa; */
    position: fixed;
    width: 100%;
    background:var(--color2);
    /* color:var(--color7); */
    /* opacity: 0.85; */
    z-index: 100;
}
.navbar.active{
  background-color: var(--color2);
}

.navbar-container{
    display: flex;
    justify-content: space-around;
    height: 64px;
    align-items: center;

}

.menu-items{
   
    order: 2;
    display: flex;
}

.menu-items li{
    list-style: none;
    margin-left: 3rem;
    font-size: 1.6rem;
}

.navbar a{
    color:var(--color5);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color:var(--color3);
}


/* search */


::selection{
  color: #fff;
  background: #ff654a;
}

/* .wrapper{
  
    box-shadow: 0px 5px 10px 0px #aaa;ax-width: 450px;
  margin: 150px auto;
} */

.wrapper .search-input{
  background: #fff;
  /* width: 100%; */
  border-radius: 5px;
  position: relative;
  /* box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12); */
}

.search-input input{
  /* height: 40px; */
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 30px 0 20px;
  font-size: 16px;
  /* box-shadow: 0px 1px 5px rgba(0,0,0,0.1); */
}

.search-input.active input{
  border-radius: 5px 5px 0 0;
  
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  width: 30vw;
  pointer-events: none;
  /* max-height: 280px; */
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 60px;
  right: 0px;
  
}

.search-input.active .autocom-box{
  /* padding: 10px 8px; */
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
  font-size: 18px;

}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background:var(--color3)
}

.search-input .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #e4ff4b;
  cursor: pointer;
}


/* main section */

.main{
    width: 100vw;
    height: 630px;
    position: relative;
    background-image: url('../images/hero1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.about{
    position: absolute;
    top: 40%;
    left: 15%;
}
.explore-btn{
    width:250px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    margin: 1rem;
    background-color: var(--color1);
    color: var(--color5);
}
















@media (max-width: 768px){
  .navbar{
      opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines{
      display: block;
  }

  .navbar-container{
      display: block;
      position: relative;
      height: 64px;
  }

  .navbar-container input[type="checkbox"]{
      position: absolute;
      display: block;
      height: 32px;
      width: 30px;
      top: 20px;
      left: 20px;
      z-index: 5;
      opacity: 0;
      cursor: pointer;
  }

  .navbar-container .hamburger-lines{
      display: block;
      height: 28px;
      width: 35px;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line{
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background:var(--color4);
  }
  
  .navbar-container .hamburger-lines .line1{
      transform-origin: 0% 0%;
      transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2{
      transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3{
      transform-origin: 0% 100%;
      transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items{
      padding-top: 100px;
      background: var(--color2);
      height: 100vh;
      /* width: 100vw; */
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 40px;
      transition: transform 0.5s ease-in-out;
      /* box-shadow:  2px 2px 10px var(--color8); */
      overflow: scroll;
  }

  .navbar .menu-items li{
      margin-bottom: 1.8rem;
      font-size: 1.4rem;
      font-weight: 500;
  }

  

  .navbar-container input[type="checkbox"]:checked ~ .menu-items{
      transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
      transform: rotate(45deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
      transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
      transform: rotate(-45deg);
  }

}